<%= render "shared/title", title: "Your all students" %>

<% @students.each do |student|%>
    <div class ="row  center">   
        <div class="col-md-8 well">
            <h3><%= link_to student.name, student_path(student) %></h3>
            <p>
                <span class="quite"><small>Created <%= time_ago_in_words(student.created_at) %> ago by </small></span>
            </p>
            <% if logged_in?%>
                <div class="student-actions">
                    <%= link_to 'Edit this student', edit_student_path(student), class: "btn btn-xs btn-warning" %>
                    <%= link_to 'Delete this student', student_path(student), method: :delete , data:{ confirm: "are you sure you want to delete this recipe?"}, class: "btn btn-xs btn-danger" %>
                </div>
            <% end %>
        </div>
    </div>
<%end%>