<%= render 'shared/title', title: "#{@student.name}'s is student name'" %>

<div class ="row">   
    <div class="col-md-2">
    </div>
    <div class="col-md-8 well">
        <div class="center">
            <div class="panel panel-default" style="width: 80%;">
                <div class="panel-heading"><b>Name</b></div>
                <div class="panel-body"><%= @student.name %></div>
            </div>
        </div>
        <p>
            <span class="quite"><small>Created <%= time_ago_in_words(@student.created_at) %> ago</small></span>
        </p>
        <p>
            <span class="quite"><small>Updated <%= time_ago_in_words(@student.updated_at) %> ago</small></span>
        </p>
        <% if logged_in?%>
            <div class="student-actions" style="text-align: right;">
                <%= link_to 'Edit this student', edit_student_path(@student), class: "btn btn-xs btn-warning" %>
                <%= link_to 'Delete this student', student_path(@student), method: :delete , data:{ confirm: "are you sure you want to delete this recipe?"}, class: "btn btn-xs btn-danger" %>
            </div>
        <%end%>
    </div>
</div>
