<%= render 'shared/title', title: "#{@teacher.name}'s is your profile" %>

<div class ="row">   
    <div class="col-md-2">
    </div>
    <div class="col-md-8 well center">
        <div class="panel panel-default" style="width: 80%;">
            <div class="panel-heading"><b>Name</b></div>
            <div class="panel-body"><%= @teacher.name %></div>
        </div>
        <div class="panel panel-default" style="width: 80%;">
            <div class="panel-heading"><strong>Email</strong></div>
            <div class="panel-body"><%= @teacher.email %></div>
        </div>
        <p>
            <span class="quite"><small>Created <%= time_ago_in_words(@teacher.created_at) %> ago</span>
        </p>
        <p>
            <span class="quite"><small>Updated <%= time_ago_in_words(@teacher.updated_at) %> ago</span>
        </p>
    </div>
</div>

<% if @teacher_subjects.count !=0 %>
    <h4 align="center" class="name" style="font-size: 40px;">
        Your all subjects
    </h4>
    <div align="center">
        <%= will_paginate @teacher_subjects %>
    </div>
    <% @teacher_subjects.each do |subject|%>
        <div class ="row">   
            <div class="col-md-8 well" style="margin-left: 100px;">
                <h3><%= link_to subject.name, subject_path(subject) %></h3>
                <p>
                    <span class="quite"><small>Created <%= time_ago_in_words(subject.created_at) %> ago by <%= subject.teacher.name %></small></span>
                </p>
                <% if logged_in? && (current_teacher == subject.teacher)%>
                    <div class="subject-actions">
                        <%= link_to 'Edit this subject', edit_subject_path(subject), class: "btn btn-xs btn-warning" %>
                        <%= link_to 'Delete this subject', subject_path(subject), method: :delete , data:{ confirm: "are you sure you want to delete this recipe?"}, class: "btn btn-xs btn-danger" %>
                    </div>
                <% end %>
            </div>
        </div>
    <%end%>
    <div align="center">
        <%= will_paginate @teacher_subjects %>
    </div>
<%else%>
    <h4 align="center">No subjects yet!</h4>
<%end%>
