<%= render 'shared/title', title: "Today Attendence" %>

<div class="row">
    <div class="col-md-12" style="padding-left: 20%">
        <%= form_for(@report, :html => {class: "form-horizontal", role: "form"}) do |f| %>
            <div style="display: flex; flex-direction: row;">
                <div class="form-group" style="margin: 2%">
                    <div class="control-label col-md-2">
                        <%= f.label :date%>
                    </div>
                    <div class="col-md-8">
                        <span class="form-control width"><%= f.date_select(:date, :order => [ :day,:month, :year])%>
                        </span>
                    </div>
                </div>


                <div class="form-group" style="margin: 2%">
                    <div class="control-label col-md-2">
                        <%= f.label :subjectname, "Subject Name" %>
                    </div>
                    <div class="col-md-8">
                        <%= f.hidden_field :subject_id, :value => @report.subject.id  %>
                        <%= f.text_field :subject_name, :value => @report.subject.name, disabled: true, class: "form-control", style: "width: 150%;"  %>
                    </div>
                </div>
            </div>
            <div class"center" style="display: flex; justify-content: center; padding-right: 30%;">
                <table class="table table-bordered table-striped table-responsive" style="width: 60%;">
                    <thead>
                        <tr>
                        <th> Student Name</th>
                        <th> Present </th>
                    </tr>
                    </thead>
                    <tbody>
                    <%= f.fields_for :attendences, @attendences do |attendence| %>
                        <tr>
                            <td>
                            <%= attendence.text_field :student_name, value: attendence.object.student.name, class: "form-control", disabled: true %>
                            <%= attendence.hidden_field :student_id, value: attendence.object.student.id, class: "form-control" %>
                            </td>
                            <td><%= attendence.check_box :present %></td>
                        </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
            <div class="form-group" style="margin: 2%">
                <div class="col-md-offset-2 col-md-10">
                    <%= f.submit("Done", class: "btn btn-primary btn-lg btn-xlarge") %>
                </div>
            </div>
        <%end%>
    </div>
</div>

